html, body {
  margin: 0;
  padding: 0;
  /* font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; */
}
body {
  padding: 0px 5px;
}
.msg_shop {
  border: 2px solid #ffa908;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
}
.msg {
  border: 2px solid #ffa908;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  /* margin-top: 0px; */
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* таблица с магазинами */
.table_shop {
  margin-bottom: 5px;
}
.table_shop table {
  width: 100%;
  /* Ширина таблицы */
  border-collapse: collapse;
  /* Убираем двойные линии */
}

.table_shop thead {
  background: #f5e8d0;
  /* Цвет фона заголовка */
}

.table_shop td,
.table_shop th {
  padding: 3px;
  /* Поля в ячейках */
  border: 1px solid #333;
  /* Параметры рамки */
}

/* Зебра */
.table_shop tbody tr:nth-child(even) {
  background: #f0f0f0;
}

.poz_center {
  text-align: center;
}

.poz_r {
  text-align: right;
}

label {
  cursor: pointer;
}

/* стили для купюр и монет */
.cash {
  display: flex;
  justify-content: space-around;
}
.cash label {
  margin-top: 15px;
}
.cash_kupur,
.cash_monet,
.cash_monet {
  display: flex;
  flex-direction: column;
}
/* ------------------------------- */
/* оформление input type="radio"
.redio_shop {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 10px;
  height: 10px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none; */
/* margin-right: 5px; */

/* position: relative;
  top: 4px; */
/* width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redio_shop:checked {
  border: 3px solid black;
} */
